html,body
{

    font-family: "Calibre", Helvetica, Arial, sans-serif;
       
    background-color: #36393F;
    
    /*
    height:100%;
    width:100%;
    
    display:flex;
    justify-content:center;
    align-items:center;
    */
    
    
    

}
 
/* testing resize */ 
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1800px;
    height:900px;
}

#mainDiv
{
    
    height:100%;
    width:100%;
    background-color: #36393F;
    
    display:flex;
    flex-direction:column;
    
    align-items:center;
    justify-content:space-around;
    
    
    
}
#headerDiv
{
    display:flex;
    
    
    height:20%;
    width:60%;
    
    
}
#headerRight
{
    display:flex;
    
    justify-content:space-around;
    align-items:flex-end;
    flex-direction:column;
  
    width:50%;
  
}

#headerActiveAccountName
{    
   
    display:flex;
    
    justify-content:center;
    align-items:center;
    
    width:50%;
    
}
#headerButtons
{
    
    
    width:50%;
    
    
}

#headerLeft
{
    
    width:50%;
    
    display:flex;
    
    justify-content:flex-start;
    align-items:center;
    
    
}

#searchDiv
{
    
    border:5px solid #f3f1f3;
    border-radius: 5px;
    
    background-color: #d6d1d5;
    
    height:20%;
    width:60%;
  
    
}
#searchDivTop
{
    
  display:flex;
  justify-content:space-around;
  align-items:center;
  
  
    
  height:45%;
  width:100%;  
}
#searchDivTopSearchbarDiv
{
    display:flex;
    justify-content:space-around;
    align-items:center;
    
   
    height:100%;
    width:40%;
}

#searchDivTopArrowDiv
{
    display:flex;
    justify-content:center;
    align-items:center;
    
   
    
    height:100%;
    width:20%;
}
#arrowIcon
{
   
    height:100px;
    width:100px;
    
}
#searchForm
{
    
    width:100%;
    height:100%;
}
#loginForm
{
    display:flex;
    justify-content:space-between;
    
    width:100%;
    height:100%;
}


#searchDivTopDropdownDiv
{
    
    display:flex;
    justify-content:space-around;
    align-items:center;
    
   
    height:100%;
    width:40%;
}


#searchDivBottom
{
    
  display:flex;
  justify-content:space-around;
  align-items:center;  
    
  
  height:45%;
  width:100%;
}



#pageTitle{
    height:300px;
    width:300px;   
}





#searchDropDowns
{
            
            font-size:25px;
    
            background-color:#eeecee;
             display: block;
             width: 400px;             
             border: 5px solid #9d9099;
             padding: 14px 40px;   
             outline: none;  
             color: black;  
             border-radius: 24px;
             
             
             text-align: center;
             
           
             
    
    
}

#searchInp{   
    
             
             font-size:25px;
             
             overflow:hidden;
            
             
             background-color:#eeecee;
             display: block;
             width: 400px;   
             text-align: center; 
             border: 5px solid #9d9099;
             padding: 14px 40px;   
             outline: none;  
             color: black;  
             border-radius: 24px;
            
             
} 


#searchButton
{
    
    margin-top:0px;
    width:95%; 
    
    height:80%;
    background-color: #2ecc71;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #1e8549;
    padding: 10px 10px;
    transition: 0.5s;
     
}

#searchButton:hover
{  
    background-color: #1e8549;   
    color: #40d9ac;
    cursor: pointer; 
}



#nameDiv
{
    
    background-color:white;
    font-weight:bold;
    
    height:60%;
    
    border:3px solid;
    border-color:#40d9ac;
    border-radius: 5px;
    
   
    margin-right:30px;
    
    padding:5px;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
  
}
#emailDiv
{
    background-color:white;
    font-weight:bold;
    
    height:60%;
    
    
    border:3px solid;
    border-color:#40d9ac;
    border-radius: 5px;
    
    padding:5px;
    margin-right:30px;
    
    display:flex;
    justify-content:center;
    align-items:center;
}

#userSpan
{
    font-weight:bold;
    
    margin-right:15px;
    
}
#registerButton
{

    
    width:45%;
    
    background-color: #40d9ac;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #d6d1d5;
    padding: 10px;
    transition: 0.5s;
    
}
#registerButton:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}

#nomarginp
{
    
    font-size:30px;
    font-weight:bold;
    color:white;
    
    margin-block-start:0px;
    margin-block-end:0px;
    
    
}

#logoutButton
{
    margin-left:20px;
    
    width:45%;
   
    background-color: #40d9ac;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #d6d1d5;
    padding: 10px;
    transition: 0.5s;
    
}  

#logoutButton:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}

#loginDropdown
{
    
     position: absolute;
     
     top:8%;
     right:0.5%;
    
    border-radius: 5px;
    border: 10px solid #40d9ac;
    
    
    height:300px;
    width: 300px;
    
  
    text-align:center;
       
    background-color: white;
    
    
}
#loginConfirm
{
    
    border-radius: 5px;
    border: 6px solid black;
    
    height:90px;
    width: 300px;
    
    font-weight:bold;
    font-size:30px;
    
    
    background-color: grey;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.5s;
    
}
#loginConfirm:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}

#dropdownUsernameText
{
    height:95px;
    width: 285px;
    
    border-radius: 5px;
    border: 6px solid black;
    
    font-size:30px;
    text-align:center;
    
}
#dropdownPasswordText
{
    height:90px;
    width: 285px;
    
    border-radius: 5px;
    border: 6px solid black;
    
    font-size:30px;
    text-align:center;
    
}




#searchBar
{

    height: 15%;
    width: 60%;

    max-width: 300px;




}



#maincontent_top
{

    background-color: white;

    border: 5px solid black;
    border-radius: 12px;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-bottom: 10px;
 

}

#selectedMethodText
{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-weight: bold;
    
    
}
#compilerLinkText
{
    
    
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-top: 5px;
    
    font-size: 20px;
    font-weight: bold;
    
}

#mainContent
{
    
    display:flex;
    justify-content:center;
    align-items:center;
    
    width:60%;
    height:50%;
    
    
    
    background-color: #d6d1d5;
    
    border:5px solid #f3f1f3;
    border-radius: 5px;
    
    
    
}

#maincontent_bottom
{
    

    height:100%;
    width:100%;

    
    display:flex;
    justify-content: center;
    align-items:center;
   
    
    padding:10px;

}

#mainContentBottomLeft
{
    
    height:100%;
    width:50%;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
    border-right: 5px solid #f3f1f3;
    
    
   

    
}
#mainContentBottomLeftText
{
    
    height:95%;
    width:95%;
    
    background-color:#b7aeb4;
    
    border:5px solid #595959;
    border-radius: 5px;
    
    display:flex;
    flex-direction:column;
      
}


#contentTitleP
{
    font-size:30px;
    
    text-align:center;
    font-weight:bold;
}

#contentDescP
{
    white-space:pre-wrap;
}
#contentDocumentationDiv
{
    
    display:flex;
    
    justify-content:center;
    align-items:center;
    
    background-color:#b7aeb4;    
    height:15%;
    
    
}
#contentDocumentationP
{
    text-align:center;
    font-weight:bold;
}



#mainContentBottomRight
{
   
    height:100%;
    width:50%;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
   
}
#mainContentBottomRightImage
{
   
    height:95%;
    width:95%;
    
    
    display:flex;
    justify-content:center;
    align-items:center;
 
    
    background-color:#b7aeb4;
    
    border:5px solid #595959;
    border-radius: 5px;
    
              
    
}
#contentImage
{
   
    width: 90%; 
    height: 90%; 
    object-fit: contain;
    
    
}

#maincontent_bottom p
{

    margin-block-start: 0px;
    margin-block-end: 0px;

}

#mainContentTab
{
    
    background-color: white;
    
    padding: 10px;
    
    border: 5px solid black;
    border-radius: 12px;
    
    height: 10%;
    width: 25%;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


/*Content text formatting*/

#contentTitle
{
 
    text-align:center;
    border-bottom:5px solid black;
    
    font-weight:bold;
    font-size:30px;
    
  
    
}

#contentExplanation
{
    resize: none;
    
    word-wrap: break-word;
            
    height:70%;
            
    width:100%;
         
    font-size:25px;
             
    overflow-wrap: break-word;
    overflow-y: scroll;
             
    background-color: #b7aeb4;
 
          
    color: black; 
    
    
    
           
    margin-left:30px;
    color:black;
    
    font-size:15px;
}


/* For logged in account information */
#loggedAccountInfo
{
    
    position:absolute;
     
    
    top:5%;    
    left: 82%;
    
    height:300px;
    width:300px;
    
    background-color:#b7aeb4;
    
    border:5px solid #595959;
    border-radius: 5px;
    
    display:flex;
    
    flex-direction: column;
    
}
#loggedAccountUsernameDiv
{
    width:100%;
    height:20%;
    
    background-color:#b7aeb4;
    
    border-bottom: 5px solid black;
    
    text-align:center;
    font-weight:bold;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
   
}
#loggedAccountFavourites
{
    width:100%;
    height:80%;
    
    background-color:#b7aeb4;
    
    text-align:center;
    
    display:flex;
    flex-direction:column;
  
    
    font-weight:bold;
  
}
#favouritesTitle
{
    border-bottom: 3px solid black;
}
#favouriteOne
{
 
    
   width:100%;
   height:33%;
}
#favouriteTwo
{
 
    
   width:100%;
   height:33%;
}
#favouriteThree
{
  
    
   width:100%;
   height:33%; 
}
#favonebutton
{
    
    border-radius: 5px;
    border: 2px solid black;
    
   
    font-weight:bold;
    font-size:15px;
    
    height:100%;
    width:100%;
    
    background-color: #2ecc71;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.5s;
    
}
#favonebutton:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}
#favtwobutton
{
    
    border-radius: 5px;
    border: 2px solid black;
    
   
    font-weight:bold;
    font-size:15px;
    
    height:100%;
    width:100%;
    
    background-color: #2ecc71;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.5s;
    
}
#favtwobutton:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}
#favthreebutton
{
    
    border-radius: 5px;
    border: 2px solid black;
    
   
    font-weight:bold;
    font-size:15px;
    
    height:100%;
    width:100%;
        
    background-color: #2ecc71;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.5s;
    
}
#favthreebutton:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}

/* absolute positioned tabs */
#siteTabsDiv
{   
    width:25%;
    
    background-color: white;
    
    
    display:flex;
    flex-direction:row;
    
    align-items:flex-start;
    
   
       
}
#translateCodeTab
{
    height:100%;
    width:50%;
    
    background-color: orange;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #d6d1d5;
    padding: 10px;
    transition: 0.5s;
    
   
}
#submitTemplateTab
{
    height:100%;
    width:50%;

    background-color: orange;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;  
    border: 3px solid #d6d1d5;
    padding: 10px;
    transition: 0.5s;
    
   
}
#favouriteButton
{
    position:absolute;
    
    top:103%;
    right:5.8%;
    
        
    border-radius: 5px;
    border: 2px solid black;
    
   
    font-weight:bold;
    font-size:15px;
    width:250px;
    height:50px;
    
    
    background-color: yellow;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.5s;
    
}
#favouriteButton:hover
{  
    background-color: orangered;   
    color: black;
    cursor: pointer; 
}



#descriptionSpan
{
      
    font-weight:bold;
    font-size:40px;
    color:red;
    
    
}

#contentTitleDiv
{
    
    
    background-color:#b7aeb4; 
    color:darkgreen;
    font-weight:bold;
    font-size:40px;
    
    height:15%;
    border-bottom: 5px solid black;
    
    
    
    display:flex;
    
    justify-content:center;
    align-items:center;
    
}

#contentDescriptionDiv
{
    
    background-color:#b7aeb4;    
    height:70%;
    border-bottom: 5px solid black;
    
    padding:10px;
    
    resize: none;
    
    
    word-wrap: break-word;
            
  
    font-size:25px;
             
    overflow-wrap: break-word;
    overflow-y: scroll;
        
    color: black;  
    
}

/* favourites divs */

#firstFavsDiv
{
    height:33.3%;
    width:100%;
    
    display:flex;
    flex-direction:column;  
}
#secondFavsDiv
{
    height:33.3%;
    width:100%;
    
    display:flex;
    flex-direction:column;
}
#thirdFavsDiv
{
    height:33.3%;
    width:100%;
    
    display:flex;
    flex-direction:column;
}


/* UNFAVOURITE BUTTONS */

#unfavonebutton
{

    
   

    
    width:100%;
    
    background-color: lightblue;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
  
    padding: 10px 10px;
    transition: 0.5s;
    
}
#unfavonebutton:hover
{  
    background-color: red;   
    color: black;
    cursor: pointer; 
}

#unfavtwobutton
{
    


    width:100%;
    
    
    background-color: lightblue;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;

    padding: 10px 10px;
    transition: 0.5s;
    
}
#unfavtwobutton:hover
{  
    background-color: orangered;   
    color: black;
    cursor: pointer; 
}

#unfavthreebutton
{
    


    width:100%;
    
    background-color: lightblue;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
  
    padding: 10px 10px;
    transition: 0.5s;
    
}
#unfavthreebutton:hover
{  
    background-color: orangered;   
    color: black;
    cursor: pointer; 
}

/* List of methods css*/
#listOfMethodsDiv
{
    
    border-radius: 5px;
    border: 2px solid black;
    
    position:absolute;
    
    top:13%;
    bottom:50%;
    
    height:50px;
    width:250px;
    
    background-color:grey;
    
}
#showListButton
{
    
    
    
   
    font-weight:bold;
    font-size:15px;
    
    height:100%;
    width:100%;
    
    background-color: #2ecc71;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.5s;
    
}
#showListButton:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}
#listContainerDiv
{
    
    position:absolute;
    
    top:120%;
    left:-12.5%;
    
    background-color:darkgrey;
    
    height:500px;
    width:300px;
    
    display:flex;
    flex-direction:column;
    
    align-items:center;
    
    
    overflow-y:scroll;
    overflow-x: hidden;
    
    border: 7px solid #595959;
    border-radius:2px;
    
    
}
#listOfMethodsPdiv
{
    background-color:lightgreen;
    
    display:flex;
    align-items:center;
    justify-content:center;
    
    height:50px;
    width:100%;
    
   
    
  
    border: 2px solid black;
    
}
#listOfMethodsP
{
    font-size:15px;
    color:black;
    
    font-weight:bold;
}
#closeListButton
{
    
    border: 2px solid grey;
    border-radius: 5px;
    
    margin-top:5px;
    
    max-width:30px;
    max-height:30px;
    
    background-color:white;
    color:white;
    
}
#closeListButton:hover
{  
    background-color: #1e8549;   
    color: black;
    cursor: pointer; 
}

/*
#languageTab
{
    
   height:100%;
   width:20%;
   
   
   justify-content:center;
   align-items:center;
   margin-left:5px;
   
   background-color: #40d9ac;
   color: black;
   font-family: "Calibre", Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: bold;
   border-radius: 5px;
   border: 5px solid black;
   transition: 0.5s;
    
}
#languageTab:hover
{  
    background-color: #1e8549;   
    color: black;
    cursor: pointer; 
}
#languageTab:focus
{
    background-color: #1e8549;  
    color:black;
    
}
*/




