html,body
{

    font-family: "Calibre", Helvetica, Arial, sans-serif;
       
    background-color: #36393F;
    
    
    
}

/* testing resize */ 
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1800px;
    height:900px;
}


#mainDiv
{
    
    height:100%;
    width:100%;
    background-color: #36393F;
    
    display:flex;
    flex-direction:column;
    
    align-items:center;
   
    
    
    
}
#headerDiv
{
    
    margin-top:20px;
    
    
    border: 5px solid #f3f1f3;
    border-radius: 5px;
    
    display:flex;
    flex-direction:column;
    
    background-color:#d6d1d5;
    
    height:5%;
    width:50%;
    
    justify-content: center;
    align-items:center;
    
    
}
#headerTabDiv
{
    display:flex;
    justify-content: center;
    align-items:center;
}

#translateCodeTab
{
    width:200px;
    
    background-color: orange;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #d6d1d5;
    padding: 10px;
    transition: 0.5s;
    
   
}
#mainScreenTab
{
    width:200px;

    background-color: orange;
    color: black;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;  
    border: 3px solid #d6d1d5;
    padding: 10px;
    transition: 0.5s;
    
   
}
#showTutorial
{
    
    margin-top : 5px;
    
    font-size:20px;
  
                      
    background-color:#40d9ac;        
    width: 40%;                
    border: 2px solid #40d9ac;
    border-radius: 5px;
                        
    text-align:center;
    color: black; 
    
}
#showTutorial:hover
{  
    background-color: #1e8549;   
    color: black;
    cursor: pointer; 
}

#hoverTutorial
{
   
    background-color:#36393F;
    border: 8px solid darkgray;
    border-radius: 5px;
    
    position:absolute;
    
    
    text-align:center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
    top:17%;
    width:50%;
    
    height:83%;
    width:50%;
        
    
    display: none;
    
}
/*hover tutorial inside related*/
#tutorialHeaderDiv
{
        
    height:20%;
    
  
    
}
#tutorialHeaderP
{
    color:white;
    font-weight:bold;
    font-size: 25px;
    
}
#tutorialHeaderDescP
{
    color:white;
    font-size:20px;    
}
#tutorialTitleDiv
{
    background-color:#d6d1d5;
    border: 2px solid black;
    border-radius: 5px;
    
    width:90%;
    height:20%;
}
#tutorialDescriptionDiv
{
    background-color:#d6d1d5;
    border: 2px solid black;
    border-radius: 5px;
    
    width:90%;
    height:20%;
}
#tutorialDocumentationDiv
{
    background-color:#d6d1d5;
    border: 2px solid black;
    border-radius: 5px;
    
    width:90%;
    height:20%;
}
#tutorialImageSubmissionDiv
{
    background-color:#d6d1d5;
    border: 2px solid black;
    border-radius: 5px;
    
    width:90%;
    height:20%;
    
    
}
#tutorialSubmissionDiv
{
    
    background-color:#d6d1d5;
    border: 2px solid black;
    border-radius: 5px;
    
    width:90%;
    height:20%;
}


/*hover tutorial inside end*/

#emailContentDiv
{
    
    margin-top:20px;
    margin-bottom:20px;
    
    height:10%;
    width:50%;
    
    background-color:#d6d1d5;
    
    border: 5px solid #f3f1f3;
    border-radius: 5px;
    
      
    display:flex;
    justify-content:center;
    align-items:center;
    
}
#mailLinkDiv
{
    
    background-color:#d6d1d5;
    
    width:50%;
    height:100%;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
    
   
       
}
#submitButtonDiv
{
    background-color:#d6d1d5;
    
    width:50%;
    height:100%;
    
    display:flex;
    justify-content:center;
    align-items:center;
    
    border-left: 5px solid #f3f1f3;
    
    
}

#emailContent
{
    
    font-size: 40px;
    
    font-weight:bold;
    
    color:darkgreen;
    
}
#submitTemplateButton
{
    
    margin-top : 5px;
    
    font-size:30px;
             
                      
    background-color:#40d9ac;        
    width: 95%; 
    height: 80%;
    border: 2px solid #40d9ac;
    border-radius: 5px;
                        
    text-align:center;
    color: black; 
    
}
#submitTemplateButton:hover
{  
    background-color: #1e8549;   
    color: black;
    cursor: pointer; 
}
#pageInfoTitle
{
    
    font-weight:bold;
    font-size:25;
    
}
#submissionBackground
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    background-color: #d6d1d5;
    border: 5px solid #f3f1f3;
    border-radius: 5px;
    
    
}
#submissionTemplate
{
    
   
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    
    
}

#submissionLeft
{
    
  
   height: 100%;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-right: 5px solid #f3f1f3;
  
    
}


#submissionLeftText
{
    
   
    
    height: 95%;
    width: 95%;
    background-color: #b7aeb4;
    border: 5px solid #595959;
    border-radius: 5px;
    
}
#submissionRight
{
   
   
    
   height: 100%;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 
   
}
#submissionRightContent
{
    
    height: 95%;
    width: 95%;
    background-color: #b7aeb4;
    border: 5px solid #595959;
    border-radius: 5px;
    
   display: flex;
   justify-content: center;
   align-items: flex-start;
   
}
#submissionPhoto
{
    width:100%;
    
    overflow: hidden;
    
   
    background-color: #b7aeb4;
   
    
}
#submitPhotoButtonDiv
{
    
    
    
    height:20%;
    
    display:flex;
    flex-direction:column;
    gap:10px;
    
    justify-content:center;
    align-items:center;
    
    
}
#uploadedUserImage
{
    
            font-size:15px;
             
                      
             background-color:#40d9ac;        
             width: 70%;                
             border: 3px solid #40d9ac;
              
           
             text-align:center;
             color: black;  

   
}
#uploadedUserImage:hover
{  
    background-color: #1e8549;   
    color: black;
    cursor: pointer; 
}

#submitPhotoButton
{
    width:70%;
    
    background-color: #40d9ac;
    color: white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid #40d9ac;
    padding: 10px;
    transition: 0.5s;
}
#submitPhotoButton:hover
{  
    background-color: #1e8549;   
    color: white;
    cursor: pointer; 
}

#photoDiv
{
    border-top: 5px solid black; 
    
    display:flex;
    
    justify-content:center;
    align-items:flex-start;
    
    width:100%;
    height:75%;
    
   
}
#uploadedPhoto
{
    margin-top:30px;
    
    width: 80%; 
    height: 80%; 
    object-fit: contain;
    
}

#submissionTitle
{
    display:flex;
    
    height:20%;
    
    border-bottom: 5px solid black;
    
    
    word-wrap: break-word;
    
    
    align-items:flex-start;
    justify-content:flex-start;   
    
}
#titleInput{   
            
            resize: none;
             
            height:100%;
            width:100%;
            
           
            
            font-size:25px;           
            overflow:hidden;
             
            font-weight:bold;
            color:black;
                         
            background-color: #b7aeb4;
            
            display: block;
            padding: 14px 40px;
                
            text-align: center; 
             
             
            outline: none;  
           
             
}
#titleInput:focus {
  background-color: white;
  
  
  border: 5px solid black;
  border-radius: 5px;
  
}

#titleInput::placeholder {
  color: black;
  font-size: 40;
  font-weight:bold;
}


#submissionText
{
    
    
    
    display:flex;
    
    height:59.5%;
    
    border-bottom: 5px solid black;
    
    
    word-wrap: break-word;
    
    
    align-items:flex-start;
    justify-content:flex-start;   
    
}
#descriptionInput
{   
            resize: none;
    
    
            word-wrap: break-word;
            
            height:100%;
            
            width:100%;
         
             font-size:25px;
             
             overflow-wrap: break-word;
             overflow-y: scroll;
             
             background-color: #b7aeb4;
 
          
             color: black;  
             
}
#descriptionInput:focus {
  background-color: white;
  
  
  border: 5px solid black;
  border-radius: 5px;
  
}
#descriptionInput::placeholder {
  text-align:center;
  color: black;
  font-size: 40;
  font-weight:bold;
}



#submissionLinks
{
    
    display:flex;
    
    height:18%;
    
    border-bottom: 5px solid black;
    
    
    word-wrap: break-word;
    
    
    align-items:flex-start;
    justify-content:flex-start;     
    
}
#referenceInput
{   
         
    
            resize: none;
    
    
            word-wrap: break-word;
            
            height:100%;
            
            width:100%;
         
             font-size:25px;
             
             overflow-wrap: break-word;
             overflow-y: scroll;
             
             background-color: #b7aeb4;
 
          
             color: black;  
             
            
             
}
#referenceInput:focus {
  background-color: white;
  
  
  border: 5px solid black;
  border-radius: 5px;
  
}

#referenceInput::placeholder {
  color: Black;
  font-size: 40;
  font-weight:bold;
}


#closeTutorialButton
{
    
    border: 2px solid grey;
    border-radius: 5px;
    
    margin-top:5px;
    
    max-width:30px;
    max-height:30px;
    
    background-color:white;
    color:white;
    
}
#closeTutorialButton:hover
{  
    background-color: #1e8549;   
    color: black;
    cursor: pointer; 
}


